/* 
===================================
|| HERO                           |
===================================
*/
.hero {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--CLR-PRIMARY-5);
  /* background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY-2),
    var(--CLR-PRIMARY-9)
  ); */

  display: flex;
  justify-content: center;
  color: var(--CLR-WHITE);
  text-align: center;
  align-items: center;
  padding-inline: 3.44em;
}
.hero__heading {
  text-transform: uppercase;
}
.hero__text {
  font-size: 1.8rem;
  max-width: 49rem;
  margin-inline: auto;
  color: var(--CLR-WHITE);
  letter-spacing: var(--LETTER-SPACING);
}
@media screen and (min-width: 48em) {
  .hero__text {
    font-size: 1.6rem;
  }
}
.hero__btn:-webkit-any-link {
  padding: 0.7em 1.2em;
  font-size: 1.75rem;
  background-color: var(--CLR-WHITE);
  color: var(--CLR-PRIMARY-5);
}
.hero__btn:-moz-any-link {
  padding: 0.7em 1.2em;
  font-size: 1.75rem;
  background-color: var(--CLR-WHITE);
  color: var(--CLR-PRIMARY-5);
}
.hero__btn:any-link {
  padding: 0.7em 1.2em;
  font-size: 1.75rem;
  background-color: var(--CLR-WHITE);
  color: var(--CLR-PRIMARY-5);
}
.hero__btn:hover,
.hero__btn:focus,
.hero__btn:active {
  background-color: transparent;
  color: var(--CLR-WHITE);
  border-color: var(--CLR-WHITE);
}

@media screen and (min-width: 48em) {
  .hero {
    background-image: linear-gradient(
        rgba(44, 174, 186, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../images/main.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-inline: 0;
  }

  .hero__text {
    max-width: 63rem;
  }
}
/* 
===================================
|| ABOUT                          |
===================================
*/

.about__info,
.about__img {
  -webkit-margin-after: 2.3em;
  margin-block-end: 2.3em;
}
.about__text {
  font-size: 1.8rem;
}
@media screen and (min-width: 48em) {
  .about__text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 62em) {
  .about__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about__info,
  .about__img {
    flex: 0 0 calc(50% - 2rem);
    -webkit-margin-after: 0;
    margin-block-end: 0;
    align-self: center;
  }
}
@media screen and (min-width: 73em) {
  .about__img {
    position: relative;
  }
  .about__img::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--CLR-PRIMARY-5);
    position: absolute;
    top: -2.1rem;
    left: -2.1rem;
  }
  .about__photo {
    position: relative;
  }
}
/* section add to globals */
/* title add to globals */
/* section center add to globals */
/* 
===================================
|| SERVICES                       |
===================================
*/
.services {
  background-color: var(--CLR-GREY-10);
}
.service__item {
  text-align: center;
  margin-bottom: 3.5em;
}
.service__icon {
  background-color: var(--CLR-PRIMARY-5);
  color: var(--CLR-PRIMARY-1);
  padding: 0.25em;
  display: inline-block;
  font-size: 3.8rem;
  -webkit-margin-after: 0.75em;
  margin-block-end: 0.75em;
}
.service__text {
  max-width: 28rem;
  margin-inline: auto;
  font-size: 1.8rem;
}
@media screen and (min-width: 36em) {
  .services__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service__item__container {
    flex: 0 0 calc(50% - 1rem);
    -webkit-margin-after: 1.145em;
    margin-block-end: 1.145em;
  }
}
@media screen and (min-width: 48em) {
  .service__text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 62em) {
  .service__item__container {
    flex: 0 0 calc(33.333% - 1rem);
  }
}
@media screen and (min-width: 73em) {
  .service__item {
    display: flex;
    text-align: left;
  }
  .service__icon {
    align-self: flex-start;
  }
  .service__info {
    padding-left: 1em;
  }
  .service__title {
    -webkit-margin-after: 0.5em;
    margin-block-end: 0.5em;
  }
}
/* 
===================================
|| FEATURED TOURS                 |
===================================
*/
.featured__item {
  transition: var(--TRANSITION);
  background-color: var(--CLR-GREY-10);
  box-shadow: var(--LIGHT-SHADOW);
  -webkit-margin-after: 2em;
  margin-block-end: 2em;
}
.featured__item:hover {
  box-shadow: var(--DARK-SHADOW);
  transform: scale(1.02);
}
.featured__img__container {
  position: relative;
}
.tour__img {
  height: 21rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.tour__date {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.6rem;
  background-color: var(--CLR-PRIMARY-8);
  -webkit-margin-after: 2rem;
  margin-block-end: 2rem;
  color: var(--CLR-PRIMARY-1);
  text-transform: capitalize;
  padding: 0.25em 0.5em;
}
.tour__info {
  padding: 1.75rem 2.1rem;
}
.featured__item__title__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.featured__item__title__container h4,
.featured__item__duration {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
.tour__text {
  font-size: 1.8rem;
}
@media screen and (min-width: 48em) {
  .tour__text {
    font-size: 1.6rem;
  }
}
.featured__item__duration {
  color: var(--CLR-GREY-7);
  font-size: 1.2rem;
  letter-spacing: 0.125em;
}
.featured__item__footer {
  padding: 1.325em 1.6em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.featured__item__footer span {
  display: block;
  line-height: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  text-transform: capitalize;
  color: var(--CLR-PRIMARY-5);
  font-size: 1.6rem;
}

.featured__footer {
  text-align: center;
}

@media screen and (min-width: 48em) {
  .featured__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .featured__item__container {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 73em) {
  .featured__item__container {
    flex: 0 0 calc(33.33% - 2rem);
  }
}
/* 
===================================
|| CONTACT                        |
===================================
*/
.contact {
  background-color: var(--CLR-PRIMARY-5);
}
.contact__header {
  text-align: center;
  color: var(--CLR-WHITE);
}
.contact__text {
  color: var(--CLR-PRIMARY-8);
  font-size: 1.6rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28rem;
  margin-inline: auto;
}
.form__control {
  display: block;
  width: 100%;
  color: var(--CLR-GREY-5);
}
.form__control::-webkit-input-placeholder {
  color: inherit;
}
.form__control::-moz-placeholder {
  color: inherit;
}
.form__control:-ms-input-placeholder {
  color: inherit;
}
.form__control::-ms-input-placeholder {
  color: inherit;
}
.form__control::placeholder {
  color: inherit;
}
.form__control,
.btn__submit {
  padding: 0.375em 0.75em;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--LETTER-SPACING);
  background-color: var(--CLR-WHITE);
  text-transform: capitalize;
  border: transparent;
}
.btn__submit {
  font-family: var(--FF-PRIMARY);
  max-width: 9rem;
  width: 100%;
  margin-inline: auto;
  background-color: var(--CLR-PRIMARY-10);
  color: var(--CLR-PRIMARY-1);
  transition: var(--TRANSITION);
  cursor: pointer;
}
.btn__submit:hover {
  background-color: var(--CLR-WHITE);
}

@media screen and (min-width: 36em) {
  .contact__form {
    flex-direction: row;
    justify-content: center;
    max-width: none;
    gap: 0.5rem;
  }
  .form__group {
    max-width: 30rem;
    flex-grow: 1;
  }
  .btn__submit {
    max-width: none;
    width: auto;
    margin-inline: unset;
  }
}
/* 
===================================
|| GALLERY                        |
===================================
*/
.gallery__img__container {
  position: relative;
  background-color: var(--CLR-PRIMARY-5);
}
.gallery__img {
  max-height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  transition: var(--TRANSITION);
}
.gallery__img__container:hover .gallery__img {
  opacity: 0.7;
}
.gallery__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.8rem;
  transform: translate(-50%, -50%);
  color: var(--CLR-WHITE);
  opacity: 0;
  cursor: pointer;
  transition: var(--TRANSITION);
}
.gallery__img__container:hover .gallery__icon {
  opacity: 1;
}

@media screen and (min-width: 48em) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__img__container {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 48em) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__img__container {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 62em) {
  .gallery__img__container {
    flex: 0 0 25%;
  }
}
